<section data-type="text/component">

    <!-- 组件样式 -->
    <style type="text/css">

        /* 页面紧凑 */
        #scenery-detail-source-body .box-header{position:relative; z-index:2;}

        /* 面包屑 */
        #scenery-detail-source-body .content-header{float:left; padding:0 10px;}
        #scenery-detail-source-body .breadcrumb{position:static; top:0; padding:0;}
        #scenery-detail-source-body .breadcrumb a{color:#333; cursor:pointer;}
        #scenery-detail-source-body .breadcrumb a:hover{color:#00acd6;}

        /* 隐藏展示切换 */
        #scenery-detail-source-body .hidden{display:none;}

        /* 搜索框样式覆盖 */
        .dataTables_filter input.form-control{border-radius:20px;}
        .dataTables_length select{border-radius:20px; position:relative; bottom:2px; line-height:1em; padding-bottom:5px;}
        /* 单元格居中 */
        #scenery-detail-source-table th, #scenery-detail-source-table td{vertical-align:middle;}
        #scenery-detail-source-table th.center, #scenery-detail-source-table td.center{text-align:center;}
        #scenery-detail-source-table th.left, #scenery-detail-source-table td.left{text-align:left;}
        #scenery-detail-source-table th.right, #scenery-detail-source-table td.right{text-align:right;}
        /* 文字颜色 */
        #scenery-detail-source-table td a{color:#333; cursor:pointer;}
        #scenery-detail-source-table td a:hover{color:#00acd6;}

        #scenery-detail-source-table .operation a{font-size:18px; margin-right:10px;}
        #scenery-detail-source-table .operation a.last{margin-right:0;}

    </style>

    <section id="scenery-detail-source-body" class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <div>
                            <button type="button" class="button-add btn btn-info margin"><i class="fa fa-folder-o" /> 关联资源</button>
                            <button type="button" class="button-remove btn btn-warning margin" disabled><i class="fa fa-trash-o" /> 删除关联</button>
                        </div>
                        <div class="content-header">
                            <ol class="breadcrumb">
                                <li><a class="scenerys-show"><i class="fa fa-list-ul"></i> 景点列表</a></li>
                                <li><a class="details-show">${scenery}</a></li>
                                <li class="active">${detail}</li>
                            </ol>
                        </div>
                    </div>
                    <div id="scenery-detail-source-list" class="box-body">

                        <table id="scenery-detail-source-table" class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:20px;">
                                        <input type="checkbox" name="scenery-detail-source" class="flat-red checkall" />
                                    </th>
                                    <th>名称</th>
                                    <th style="width:100px;">关联类型</th>
                                    <th style="width:100px;">文件类型</th>
                                    <th style="width:100px">文件大小</th>
                                    <th style="width:300px;">文件夹</th>
                                    <th class="center" style="width:200px;">修改日期</th>
                                    <th style="width:80px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {@if sources && sources.length>0}
                                {@each sources as source}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="scenery-detail-source" class="flat-red" value="${source.id}"/>
                                        </td>
                                        <td>
                                            ${source.name}
                                        </td>
                                        <td>
                                            ${source.mapType}
                                        </td>
                                        <td>
                                            ${source.sourceType}
                                        </td>
                                        <td>
                                            ${source.size}
                                        </td>
                                        <td>
                                            ${source.foldername}
                                        </td>
                                        <td class="center">
                                            ${source.updateTime}
                                        </td>
                                        <td class="operation center">
                                            <a class="edit" data-toggle="tooltip" data-placement="bottom" title="编辑资源"><i class="fa fa-edit"></i></a>
                                            <a class="last remove" data-toggle="tooltip" data-placement="bottom" title="删除资源"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                {@/each}
                            {@/if}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>