<footer>
    <div id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>合作商户</h3>
                    <ul>
                        <li><a href="#">遵化市旅游局</a></li>
                        <li><a href="#">去哪网</a></li>
                        <li><a href="#">神州租车</a></li>
                        <li><a href="#">遵化酒店</a></li>
                        <li><a href="#">国际饭店</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>热门旅游</h3>
                    <ul>
                        <li><a href="#">清东陵</a></li>
                        <li><a href="#">月坨岛</a></li>
                        <li><a href="#">尚禾源</a></li>
                        <li><a href="#">景忠山</a></li>
                        <li><a href="#">禅林寺</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>热门酒店</h3>
                    <ul>
                        <li><a href="#">遵化酒店</a></li>
                        <li><a href="#">国际饭店</a></li>
                        <li><a href="#">张家大院</a></li>
                        <li><a href="#">亚太山庄别墅</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>热门美食</h3>
                    <ul>
                        <li><a href="#">渡娘火锅</a></li>
                        <li><a href="#">家家福</a></li>
                        <li><a href="#">大海饭店</a></li>
                        <li><a href="#">绝味烧烤</a></li>
                        <li><a href="#">京小面</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>热门租车</h3>
                    <ul>
                        <li><a href="#">迈腾</a></li>
                        <li><a href="#">奥迪</a></li>
                        <li><a href="#">雪铁龙</a></li>
                        <li><a href="#">雪佛兰</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>热门服务</h3>
                    <ul>
                        <li><a href="#">喜临门婚庆策划</a></li>
                        <li><a href="#">福元堂</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <!--<p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>-->
                    <p>版权 2017 归 <a href="#">过来玩</a> 所有， 邮箱 463034590@qq.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>