<?xml version="1.0" encoding="UTF-8"?>
<!-- servlet3.0头信息 --> 
<web-app  
        version="3.0"  
        xmlns="http://java.sun.com/xml/ns/javaee"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_1497875934200"> 

  	<display-name>guolaiwan-app</display-name>
  
  	<!-- 配置上下文监听器 -->
	<listener>
		<listener-class>com.guolaiwan.app.web.listener.ContextListener</listener-class>
	</listener>
	
	<!-- 配置SpringMVC -->
	<servlet>
		<servlet-name>dispatch</servlet-name>
		<servlet-class>pub.caterpillar.mvc.servlet.CoreServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatch</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  
</web-app>
