<section>
    <!-- ÑùÊ½µ¥ -->
    <style type="text/css">
        #app-content-header i.fa-home{font-size:17px; position:relative; top:2px;}
        #app-content-header a i.fa-home{left:4px;}
    </style>

    <section id="app-content-header" class="content-header">
        <h1>
            ${level_1}
            <small>${level_2}</small>
        </h1>
        <ol class="breadcrumb">
            {@if history}
                {@each history as item, index}
                    {@if parseInt(index)===(history.length-1)}
                        <li class="active">{@if item.icon}<i class="fa ${item.icon}" />{@/if} ${item.name}</li>
                    {@else}
                        <li><a {@if item.hash}data-hash="${item.hash}"{@/if}>{@if item.icon}<i class="fa ${item.icon}" />{@/if} ${item.name}</a></li>
                    {@/if}
                {@/each}
            {@/if}
        </ol>
    </section>

</section>
