<aside class="main-sidebar">
    <section class="sidebar">

        <!-- 用户模块 -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>${user.username}</p>
                <a><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>

        <!-- 搜索模块 -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>

        <!-- 导航菜单 -->
        <ul class="sidebar-menu">

            <li class="header">站内导航</li>

            <!-- 首页 -->
            <li class="active">
                <a data-hash="#/home">
                    <i class="fa fa-home" style="font-size:17px; position:relative;top:1px; right:2px;"></i><span>首页</span>
                </a>
            </li>

            <!-- 栏目 -->
            <li>
                <a data-hash="#/menu">
                    <i class="fa fa-home" style="font-size:17px; position:relative;top:1px; right:2px;"></i><span>栏目</span>
                </a>
            </li>

            <!-- 标签 -->
            <li>
                <a data-hash="#/tag">
                    <i class="fa fa-home" style="font-size:17px; position:relative;top:1px; right:2px;"></i><span>标签</span>
                </a>
            </li>

            <!-- 布局 -->
            <!--<li>
                <a data-hash="#/layout">
                    <i class="fa fa-home" style="font-size:17px; position:relative;top:1px; right:2px;"></i><span>布局</span>
                </a>
            </li>-->

            <!-- 类目 -->
            <!--<li>
                <a data-hash="#/category">
                    <i class="fa fa-home" style="font-size:17px; position:relative;top:1px; right:2px;"></i><span>类目</span>
                </a>
            </li>-->

        </ul>
    </section>

</aside>