<section data-type="text/component">

    <!-- 样式 -->
    <style type="text/css">

    </style>

    <section class="content">
        <div class="error-page">
            <h2 class="headline text-red">${status}</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-red"></i> ${message}</h3>
                <p>
                    当前问题已反馈，我们会及时处理，为您带来不便十分抱歉，敬请谅解
                    <!--Meanwhile, you may <a href="../../index.html">return to dashboard</a> or try using the search form.-->
                </p>
                <!--
                <form class="search-form">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                -->
            </div>
        </div>
    </section>

</section>