<div id="fh5co-tours" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>${status}</h3>
                <p>${message}</p>
            </div>
        </div>
        <div class="col-md-12 text-center animate-box">
            <p><a class="btn btn-primary btn-outline btn-lg" data-hash="#/home"><i class="icon-home3"></i> 返回首页</a></p>
        </div>
    </div>
</div>
