<mi-frame id="page-hr-sche-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">排班管理</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>班次管理</el-breadcrumb-item>
    </template>

    <template>

        <div style="width:100%; height:100%; position:relative;">
            <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
                <div style="position:absolute; left:0; top:0; right:0; bottom:0; padding:20px;">
                    <div style="width:100%; height:100%; position:relative;">
                        <div style="height:48px; position:absolute; left:0; top:0; width:100%;">
                            <el-button size="small" type="primary" @click="dialog.addSche.visible = true"><span class="icon-plus" style="margin-right:5px;"></span>添加班次</el-button>
                            <el-button size="small" type="warning"><span class="icon-trash" style="margin-right:5px;"></span>删除班次</el-button>
                        </div>
                        <div style="position:absolute; left:0; right:0; top:48px; bottom:48px;">
                            <el-table
                                    :data="table.data"
                                    tooltip-effect="dark"
                                    style="width: 100%">
                                <el-table-column
                                        type="selection"
                                        width="55">
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="班次名称">
                                </el-table-column>
                                <el-table-column
                                        prop="start"
                                        label="开始时间">
                                </el-table-column>
                                <el-table-column
                                        prop="end"
                                        label="结束时间">
                                </el-table-column>
                                <el-table-column
                                        label="操作"
                                        width="220">
                                    <template slot-scope="scope">
                                        <el-tooltip class="item" effect="dark" content="修改班次" placement="bottom">
                                            <el-button type="text" icon="el-icon-edit" style="margin:0; font-size:18px; padding:0; margin-right:20px;" @click="rowEdit(scope)"></el-button>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" content="删除班次" placement="bottom">
                                            <el-button type="text" icon="el-icon-delete" style="margin:0; font-size:18px; padding:0;" @click="rowDelete(scope)"></el-button>
                                        </el-tooltip>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                        <div style="height:48px; width:100%; text-align:right; padding-top:16px; position:absolute; left:0; bottom:0; box-sizing:border-box;">
                            <el-pagination
                                    background
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="table.page.currentPage"
                                    :page-sizes="table.page.sizes"
                                    :page-size="table.page.size"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="table.page.total">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </el-card>
        </div>

        <!-- 添加班次对话框 -->
        <el-dialog
                title="添加班次"
                :visible.sync="dialog.addSche.visible"
                width="500px"
                :before-close="handleAddScheClose">
            <!-- <div style="height:120px;">
                <el-scrollbar style="height:100%;">
                    
                </el-scrollbar>
            </div> -->
            <el-form ref="form" label-width="70px">
                <el-form-item label="班次名称">
                    <el-input v-model="dialog.addSche.name"></el-input>
                </el-form-item>
                <el-form-item label="开始时间">
	            	<el-time-select style="width:100%" v-model="dialog.addSche.start" placeholder="选择时间"></el-time-select>
	            </el-form-item>
	            <el-form-item label="结束时间">
	                <el-time-select style="width:100%" v-model="dialog.addSche.end" placeholder="选择时间"></el-time-select>
	            </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.addSche.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleAddScheCommit" :loading="dialog.addSche.loading">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 编辑班次对话框 -->
        <el-dialog
                title="编辑班次"
                :visible.sync="dialog.editSche.visible"
                width="500px"
                :before-close="handleEditScheClose">

            <el-form ref="form" label-width="70px">
                <el-form-item label="班次名称">
                    <el-input v-model="dialog.editSche.name"></el-input>
                </el-form-item>
                <el-form-item label="开始时间">
		            <el-time-select style="width:100%" v-model="dialog.editSche.start" placeholder="选择时间"></el-time-select>
                </el-form-item>
                <el-form-item label="结束时间">
		            <el-time-select style="width:100%" v-model="dialog.editSche.end" placeholder="选择时间"></el-time-select>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="dialog.editSche.visible = false">取 消</el-button>
                <el-button size="medium" type="primary" @click="handleEditScheCommit">确 定</el-button>
            </span>
        </el-dialog>

    </template>

</mi-frame>