<mi-frame id="page-bvc-monitor-wrapper" :menus="menus" :user="user" :groups="groups">

    <template slot="title">业务监控</template>

    <template slot="links">
        <el-breadcrumb-item><a href="#/page-home">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>业务监控</el-breadcrumb-item>
    </template>

    <template>

        <div style="width:100%; height:100%; position:relative;">
            <el-card class="box-card" shadow="hover" style="width:100%; height:100%;">
                <div style="position:absolute; left:0; top:0; right:0; bottom:0; padding:20px;">
                    <div style="width:100%; height:100%; position:relative;">

                        <el-card style="width:300px;float:left;margin-left:10px" class="box-card" v-for="(item, index) in businessList" :key="index">
						  <div slot="header" class="clearfix">
						    <span>{{item.name}}</span>
						    <el-button style="float: right; padding: 3px 0" type="text" @click="gotodetail">查看详情</el-button>
						  </div>
						  <el-progress v-if="item.status==0" :percentage="100" status="exception"></el-progress>
						  <el-progress v-if="item.status==1" :percentage="100" status="success"></el-progress>
						</el-card>
                        
                        
                        
                    </div>
                </div>
            </el-card>
        </div>

        <!-- 添加设备对话框 -->
    

    </template>

</mi-frame>